@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Fira Code", monospace, system-ui, sans-serif;
  }

  .typewriter-text {
    white-space: pre-wrap; /* Preserves whitespace and formatting */
    text-align: left; /* Aligns text to the left */
    margin-left: 0; /* Resets any inherited margin */
    padding-left: 0; /* Resets any inherited padding to remove unintended indentation */
    font-family: "Fira Code", monospace; /* Ensures the desired font is used */
    line-height: 1.5; /* Adjusts line height for better readability */
  }

  .typewriter-text::after {
    content: "|";
    animation: blink 1s step-end infinite;
  }

  .cursor {
    display: inline-block;
    width: 2px;
    height: 1em;
    background-color: #fff;
    margin-left: 2px;
    animation: blink 1s infinite;
  }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

#typewriter {
  white-space: pre-wrap; /* Preserves whitespace and wraps text */
}

.card-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card-custom {
  background-color: #333; /* Dark background for the card */
  color: #fff; /* White text color */
  padding: 20px;
  border-radius: 8px; /* Optional: adds rounded corners to the card */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow to the card */
}

.card-body p {
  text-indent: 0;
  margin-left: 0;
  padding-left: 0;
}

/* scrolling animations: */

.custom-hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.custom-show {
  opacity: 1;
    filter: blur(0);
  transform: translateX(0);
}

@media(prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

/* scrolling items in a list */

.card:nth-child(2) {
  transition-delay: 200ms;
}

.card:nth-child(3) {
  transition-delay: 400ms;
}

.scroll {
  position: absolute;
  color: black;
  font-weight: 300;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px;
  height: 50px;
}

.line {
  position: absolute;
  width: 1px;
  height: 100px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background-image: linear-gradient(
    to top,
    rgb(157, 167, 165),
    rgb(121, 124, 124));
}
